.is-invalid {
    animation: shake 0.5s;
  }
  
@keyframes shake {
  25% { transform: translate(-5px, 0px); }
  75% { transform: translate(5px, 0px); }
  100% { transform: translate(0px, 0px); }
}

.selected {
  filter: invert(0.5) sepia(1) saturate(200) hue-rotate(120deg);
  cursor: default;
  opacity: 1 !important;
}

.disabled-select{
  cursor:default;
  opacity:0.2;
}

.none {
  display: none;
}