{% extends 'form.html' %}

{% block title %}Login{% endblock %}

{% block form %}
<div class="form-floating">
    <input type="text" name="email" class="form-control" id="email" placeholder="Email" required>
    <label for="email">Email</label>
</div>
<div class="input-group mb-3">
    <div class="form-floating col-10">
        <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
        <label for="password">Password</label>
    </div>
    <div for="password" class="border d-flex align-items-center justify-content-center col-2"><i class="btn bi bi-eye-slash-fill" id="togglePassword" onclick="passwordView()"></i></div>
</div>

<div class="checkbox mb-3">
    <label>
        <input type="checkbox" value="remember-me"> Remember me
    </label>
</div>
<hr class="my-3">
<button class="w-100 btn btn-lg bg-primary text-white" type="submit">Sign in</button>
<a href="{{url_for('register')}}">
    <p class="fs-6 fw-light text-black"><u>Or create an account</u></p>
</a>
{% endblock %}