{% extends 'layout.html' %}

{% block title %}Subjects{% endblock %}

{% block body %}
<div class="row">
    <div class="col-auto me-auto order-1 text-center">
        <p class="display-5 fw-bold">Subjects</p>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Subject</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for subject in subjects %}
        <form method="post" action="{{url_for('editSubject')}}?id={{subject['subjectid']}}">
            <tr>
                <th scope="row">{{subjects.index(subject)+1}}</th>
                    <td id="subjectName{{subject['subjectid']}}">{{subject['subjectname']}}</td>
                    <td id="subjectStartDate{{subject['subjectid']}}">{{subject['start']}}</td>
                    <td id="subjectEndDate{{subject['subjectid']}}">{{subject['end']}}</td>
                    <td id="subjectButtons{{subject['subjectid']}}" edit="False">
                        <i class="btn bi bi-pencil" id="editSubject{{subject['subjectid']}}" onclick="editSubject('{{subject['subjectid']}}')" onmouseover="editHover('editSubject{{subject['subjectid']}}')" onmouseout="editHover('editSubject{{subject['subjectid']}}')"></i>
                        <a href="{{url_for('deleteSubject')}}?id={{subject['subjectid']}}"><i class="btn bi bi-trash" id="deleteSubject{{subject['subjectid']}}" onmouseover="deleteHover('deleteSubject{{subject['subjectid']}}')" onmouseout="deleteHover('deleteSubject{{subject['subjectid']}}')"></i></a>
                    </td>
                </form>
            </tr>
        </form>
        {% endfor %}
        <form method="post" action="{{url_for('addSubject')}}">
            <tr>
                <th scope="row">{{subjects|length+1}}</th>
                <td>
                    <div class="form-floating">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Name" required>
                        <label for="name">Subject Name</label>
                    </div>
                </td>
                <td>
                    <div class="form-floating">
                        <input type="date" name="startdate" class="form-control" id="startdate" placeholder="StartDate" required>
                        <label for="startdate">Start Date</label>
                    </div>
                </td>
                <td>
                    <div class="form-floating">
                        <input type="date" name="enddate" class="form-control" id="enddate" placeholder="EndDate" required>
                        <label for="enddate">End Date</label>
                    </div>
                </td>
                <td>
                    <button class="btn" type="submit"><i class="bi bi-plus-circle" id="addSubject" onmouseover="addHover()" onmouseout="addHover()"></i>
                </td>
            </tr>
        </form>
    </tbody>
</table>
{% endblock %}