{% extends 'layout.html' %}

{% block title %}Subjects{% endblock %}

{% block body %}
<div class="row">
    <div class="col-auto me-auto order-1 text-center">
        <p class="display-5 fw-bold">Subjects</p>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Subject</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for subject in subjects %}
        <tr>
            <th scope="row">{{subject['subjectid']}}</th>
            <td>{{subject['subjectname']}}</td>
            <td>{{subject['start']}}</td>
            <td>{{subject['end']}}</td>
            <td>
                <i class="btn bi bi-pencil" id="editSubject{{subject['subjectid']}}" onclick="editHover('editSubject{{subject['subjectid']}}')"></i>
                <i class="btn bi bi-trash" id="deleteSubject{{subject['subjectid']}}" onclick="deleteHover('deleteSubject{{subject['subjectid']}}')"></i>
            </td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}